@use "partials/variables.scss" as *;
@use "partials/mixins.scss" as *;

.logo-boolflix {
    width: 200px;
}

.logo-boolflix > img {
    width: 100%;
}

.background-color {
    background-color: black;
}

.style-button {
    padding: 3px;
    margin-left: 5px;
    border-radius: 15px;
    border: 2px solid #DB202C;
    background-color: rgb(28, 28, 28);
    color: white;
}