@use "partials/variables.scss" as *;
@use "partials/mixins.scss" as *;

.logo-boolflix {
    width: 200px;
}

.logo-boolflix > img {
    width: 100%;
}

.background-color {
    background-color: black;
    padding: 0;
}

.border {
    border: 1px solid white;
}

.style-button {
    padding: 3px;
    margin-left: 5px;
    border-radius: 15px;
    border: 2px solid #DB202C;
    background-color: rgb(28, 28, 28);
    color: white;
}

.container-title {
    height: calc(100% - 10px);
    background-color: rgb(110, 107, 107);
}

h2 {
    padding: 10px;
}

